.heading {
    color: #4284F4;
}

.link {
    cursor: pointer;
    color: #4284F4;
    font-weight: 400;
    text-decoration: underline #4284F4;
    text-underline-offset: 4px;
    transition: color .2s ease-out, text-decoration-color .2s ease-out;
}

.link:hover {
    color: #37A852;
    text-decoration-color: #37A852;
}

.emphasis {
    color: #4284F4;
    font-weight: 400;
    /* text-decoration: underline #4284F4;
    text-underline-offset: 4px; */
}