.heading {
    color: #4284F4;
}

.imageContainer {
    position: relative;
    height: 200px;
    width: 200px;
}

.link {
    color: #4284F4;
    text-decoration: underline #4284F4;
    font-weight: 400;
    text-underline-offset: 4px;
    transition: color .2s ease-out, text-decoration-color .2s ease-out;
}

.link:hover {
    color: black;
    text-decoration-color: black;
}