@import url("https://use.typekit.net/hvd2hfz.css");

html {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  html {font-size: 24px;}
}

/* @media only screen and (min-width: 900px) {
  html {font-size: 32px;}
} */

/* @media only screen and (min-width: 1200px) {
  html {font-size: 32px;}
} */

@media only screen and (min-width: 1800px) {
  html {font-size: 64px;}
}

html,
body {
  background-color: #fcfbf7;
  padding: 0;
  margin: 0;
  font-family: gill-sans-nova, Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.17rem;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
}



