.header {
    position: fixed;
    height: 96px;
    width: 100%;
    background-color: #fcfbf7;
    z-index: 1;
    opacity: .96;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .header {
        position: absolute;
        height: 0;
    }
}

.logo {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 56px;
    height: 56px;
    border: 2px solid black;
    transition: background-color .2s ease-out, border .2s ease-out;
}

.logoActive {
    border: 2px solid transparent;
}

.imageActive {
    filter: invert(1);
}

.nav {
    display: flex;
    height: 56px;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 30px;
}

.navList {
    list-style: none;
    display: inline-flex;
}

.navListItem {
    margin-left: 3vw;
    font-weight: 400;
    color: #4284F4;
    border-bottom: 2px solid transparent;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}

.navListItem:hover {
    color: black;
}



@media only screen and (max-width: 599px) {
    .logo {
        left: 14px;
    }
    

    .nav {
        right: 14px;
    }

    .navListItem {
        margin-left: 8vw;
    }
    
}

@media only screen and (min-width: 600px) {
    .logo {
        left: 14px;
        height: 64px;
        width: 64px;
    }
    
    .nav {
        right: 14px;
    }
}

@media only screen and (min-width: 900px) {
    .logo {
        height: 72px;
        width: 72px;
    }
}

@media only screen and (min-width: 1200px) {
    .logo {
        top: 32px;
        left: 40px;
    }
    .nav {
        top: 32px;
        right: 40px;
    }
}

@media only screen and (min-width: 1800px) {
    .logo {
        height: 88px;
        width: 88px;
    }
}

@media only screen and (min-width: 2000px) {
    .nav {
        top: 50px;
        right: 60px;
    }
    .logo {
        top: 50px;
        left: 60px;
        height: 160px;
        width: 160px;
    }
}