.name {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05ch;
  margin-bottom: 4px;
  line-height: 1;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.text {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.04ch;
  margin-bottom: 16px;
  margin-top: 8px;
}

.cta {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4284F4;
  padding-top: 8px;

}

.ctaLink {
  text-align: center;
  width: fit-content;
  cursor: help;
  margin: 0;
  padding: 8px 16px 8px 16px;
  border: 2px solid #4284F4;
  font-weight: 400;
  letter-spacing: 0.08ch;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
}

.ctaLink:hover {
  color: #fcfbf7;
  border-color: transparent;
  background-color: #4284F4;
}

@media screen and (min-width: 900px) {
  .container {
    padding-top: 10%;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    padding-top: 0;
    margin-top: -48px;
    padding-bottom: 32px;
  }
  
  .name {
    font-size: 3rem;
  }

 }