.heading {
    color: #4284F4;
}

.projectLink {
    width: fit-content;
    color: #4284F4;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.2s ease-out;
}

.projectLink:hover {
    color: black;
}

.subheading {
    opacity: 0.6;
}

.list {
    display: contents;
}

.listItem {
    display: inline-block;
    margin-right: 8px;
    background-color: #4383F4;
    padding: 2px 12px 4px 12px;
    border-radius: 8px;
    color: #FCFBF7;
    font-size: 0.8rem;
}
