.heading {
    color: #4284F4;
}

.projectLink {
    width: fit-content;
    color: #4284F4;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.2s ease-out;
}

.projectLink:hover {
    color: black;
}

.subheading {
    opacity: 0.6;
}

.subheading:first-of-type {
    margin-bottom: 16px;
}

.subheading:not(:first-of-type) {
    margin-bottom: -8px;
}

.list {
    display: contents;
}

.listItem {
    display: inline-block;
    margin-right: 8px;
    background-color: #4383F4;
    padding: 2px 12px 4px 12px;
    border-radius: 8px;
    color: #FCFBF7;
    font-size: 0.8rem;
}

.link {
    cursor: pointer;
    color: #4284F4;
    font-weight: 400;
    text-decoration: underline #4284F4;
    text-underline-offset: 4px;
    transition: color .2s ease-out, text-decoration-color .2s ease-out;
}

.link:hover {
    color: black;
    text-decoration-color: black;
}
